{% extends "ProjectBundle:Default:template.html.twig" %}
{% block content %}
<div class="container">
  <div class="row">
      <div class="col-md-11 col-offset-1">
        <div class="table-responsive">
        <h3>Projets en cours</h3>
              <table class="table table-bordered">
                 <tr>
                    <th  class="success">Titre</th>
                    <th  class="success">Intitulé</th>
                    <th  class="success">Date de Début</th>
                    <th  class="success">Date de Fin</th>
                    <th  class="success">Ferme</th>
                    <th  colspan="2" class="success">Action</th>
                </tr>
                {% for projet in projet_open %}
                    <tr>
                        <td>{{ projet.titre }}</td>
                        <td>{{ projet.intitule }}</td>
                        <td>{% if projet.dateDebut %}{{ projet.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if projet.dateFin %}{{ projet.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if projet.close %}Oui{% else %}Non{% endif %}</td>
                        <td>
                            <a href="{{ path('projet_show', { 'id': projet.id }) }}">show</a>
                        </td>
                        <td>
                            <a href="{{ path('projet_edit', { 'id': projet.id }) }}">edit</a>
                        </td>
                        
                    </tr>
                {% endfor %}

              </table>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-11 col-offset-1">
        <div class="table-responsive">
        <h3>Projets Terminés</h3>
              <table class="table table-bordered">
                 <tr>
                    <th  class="success">Titre</th>
                    <th  class="success">Intitulé</th>
                    <th  class="success">Date de Début</th>
                    <th  class="success">Date de Fin</th>
                    <th  class="success">Ferme</th>
                    <th  colspan="2" class="success">Action</th>
                </tr>
                {% for projet in projet_open %}
                    <tr>
                        <td>{{ projet.titre }}</td>
                        <td>{{ projet.intitule }}</td>
                        <td>{% if projet.dateDebut %}{{ projet.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if projet.dateFin %}{{ projet.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if projet.close %}Oui{% else %}Non{% endif %}</td>
                        <td>
                            <a href="#">show</a>
                        </td>
                        <td>
                            <a href="#">edit</a>
                        </td>
                        
                    </tr>
                {% endfor %}
              </table>
        </div>
      </div>
  </div>
</div>    
{% endblock %}