{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typeintervenants list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Niveau</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeIntervenant in typeIntervenants %}
            <tr>
                <td><a href="{{ path('typeintervenant_show', { 'id': typeIntervenant.id }) }}">{{ typeIntervenant.id }}</a></td>
                <td>{{ typeIntervenant.nom }}</td>
                <td>{{ typeIntervenant.niveau }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typeintervenant_show', { 'id': typeIntervenant.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('typeintervenant_edit', { 'id': typeIntervenant.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typeintervenant_new') }}">Create a new typeIntervenant</a>
        </li>
    </ul>
{% endblock %}
